<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <!--<script defer src="/javascripts/board.js"></script> IT IS A NODE FILE NOT A JS ONE, HTML RECIEVES ONLY JS FILES IF YOU WANT TO USE IT HERE YOU CANT USE REQUIRE IN A JS CODE-->
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <script defer src="/javascripts/board.js"></script>
    <title>Monopoly</title>
</head>
<body>
    <center>
    <header>
        <h1>Monopoly</h1>
    </header>
    <br>
    <div class="contianer" id="contianer">
        <table>
            <tr>
                <td class="parking">parking</td>
                <td class="red">red1</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">Go To Prison</td>
            </tr>
            <tr>
                <td class="orange">orange3</td>
                <% for(let i = 0; i < 9; i++) { %>
                    <td></td>
                <% } %>
                <td class="green">green1</td>
            </tr>
            <tr>
                <td class="orange">orange3</td>
                <% for(let i = 0; i < 9; i++) { %>
                    <td></td>
                <% } %>
                <td class="green">green1</td>
            </tr>
            <tr>
                <td class="orange">orange3</td>
                <% for(let i = 0; i < 9; i++) { %>
                    <td></td>
                <% } %>
                <td class="green">green1</td>
            </tr>
            <tr>
                <td class="orange">orange3</td>
                <% for(let i = 0; i < 9; i++) { %>
                    <td></td>
                <% } %>
                <td class="green">green1</td>
            </tr>
            <tr>
                <td class="orange">orange3</td>
                <% for(let i = 0; i < 9; i++) { %>
                    <td></td>
                <% } %>
                <td class="green">green1</td>
            </tr>
            <tr>
                <td class="orange">orange3</td>
                <% for(let i = 0; i < 9; i++) { %>
                    <td></td>
                <% } %>
                <td class="green">green1</td>
            </tr>
            <tr>
                <td class="orange">orange3</td>
                <% for(let i = 0; i < 9; i++) { %>
                    <td></td>
                <% } %>
                <td class="green">green1</td>
            </tr>
            <tr>
                <td class="orange">orange3</td>
                <% for(let i = 0; i < 9; i++) { %>
                    <td></td>
                <% } %>
                <td class="green">green1</td>
            </tr>
            <tr>
                <td class="orange">orange3</td>
                <% for(let i = 0; i < 9; i++) { %>
                    <td></td>
                <% } %>
                <td class="green">green1</td>
            </tr>
            <tr>
                <td class="parking">parking</td>
                <td class="red">red1</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
                <td class="red">red2</td>
            </tr>
        </table>
    </div>
</body>
</html>